<div class="comment" id="c-01g5r7">
    <div class="comment-meta">
        <span class="comment-name">Anna</span>
        <time>2026-06-10 07:48:12</time>
        <button class="reply-btn" type="button">Svara</button>
    </div>
    <p>Väldigt intressant läsning. ”De självsäkra på Internet”och eg. hela din
        text får mig att tänka på vad som oftast brukar tillskrivas den grekiska
        filosofen Sokrates, vars mest kända uttryck är: "Jag vet att jag
        ingenting vet". Vidare - Det sammanfattar hur sann visdom kommer med
        insikten om hur lite vi faktiskt förstår av universum.En liknande
        formulering ("The more you know, the more you realize you know nothing")
        används ofta som en sammanfattning av Sokrates filosofi. Den moderna
        förståelsen av detta fenomen har också gett upphov till
        Dunning-Kruger-effekten, en psykologisk teori som förklarar varför
        personer med mindre kunskap ofta överskattar sin förmåga, medan experter
        tenderar att underskatta sin egen kompetens eftersom de ser hur mycket
        det finns att lära</p>
</div>